
/* google fonts here  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    background-color: aquamarine;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5 ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin-left: 10px;

}

 .logo_content .logo i{
     font-size: 28px;
     margin-left: 8px;
 }

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 600;

}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px ;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
  

}


.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4 ease;
    border-radius: 12px;

}
.sidebar ul li a:hover{
    background-color: #fff;
    color: #11101d;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.down-content{
    text-align: center;
    color: #fff;
    width: 200px;
    background-color: #1e1d2c;
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
    
}
.fire{
    text-align: center;
 
}
.clr{
    color: #FB6D3A;
}



/* button start here  */

.btn {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* button ends here  */


/* side bar hide show button here  */





























