
/* google fonts here  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%; 
    scroll-behavior: smooth;
    background-color: rgb(236, 240, 245);
}





 /* The sidebar menu */
  /* The sidepanel menu */
.sidepanel {
    overflow: hidden; 
    height: 100vh; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    /* background-color: rgba(0, 0, 0, 0.945); */
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #a5a5a5;
    /* color: white; */
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
   
  }
  
  .openbtn:hover {
    background-color: #444;
  } 
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidepanel {padding-top: 15px;}
    .sidepanel a {font-size: 18px;}
  } 


  /* logo section here  */

  .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin-left: 40px;
    margin-top: -20px;
 
}
  .logo i{
    font-size: 28px;
    margin-left: 8px;
}

.logo .logo_name{
   font-size: 30px;
   font-weight: 700;

}

.sidepanel  i {
    margin-right: 8px;

}
hr{
    margin-top: 20px;
    width: 190px;
    margin-left: 25px;
}


/* down contents start here  */
.down-content{
    margin-left: 20px;
    text-align: center;
    color: #fff;
    width: 200px;
    background-color: #1e1d2c;
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
    
}
.fire{
    text-align: center;
 
}
.clr{
    color: #FB6D3A;
}



/* button start here  */

.btn {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* button ends here  */







/* explor chanel start here  */

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.container h2{
  margin-left: 40px;
}

.container-content{
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  grid-row-gap: 10px;
  margin-left: 70px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.small-cards{
  width: 152px;
  height: 158px;
  /* background-color: rgba(216, 208, 208, 0.931); */
  background-color: rgb(243, 246, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.small-cards:hover{
  transform: scale(1.1);
}

.small-cards h4{
  margin-top: 30px;
  
}


/* headline section start here  */
.headline-content{
  display: flex;

}

.headline-content{
  padding-left: 55px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.thumbnail-info{
  padding-left: 10px;
  padding-top: 15px;
}

.like{
  color: #FF1E1E;
}
.unlike{
  padding-left: 15px;
  color: rgb(39, 37, 37);
}
.news{
  font-size: small;
  color: #503E9D;
  background-color: #503E9D1A;
  padding: 3px;
  margin-right: 5px;
  border-radius: 5px;
}

.clock{
  color: #3a3838;
}

a{
  text-decoration: none;
}

.display-content{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  padding-right: 30px;

}

 .thumbnail img{
  border-radius: 10px;
  transition: all 0.5s ease;
}
.thumbnail img:hover{
  transform: scale(1.1);
}

/* ................................featured News star here.........................  */

.featured-display{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  padding-left: 55px;
  padding-bottom: 60px;
  margin-top: 30px;
  cursor: pointer;

}
.thumbnail-content{
  width: 336px;
  padding-bottom: 40px;
}

.row{
  display: flex;
  justify-content: flex-end;
}


/* ................................featured News ends here.........................  */



/* ................................footer start here.........................  */
footer{
  background-color: #1e1d2c;
  color: #a39f9f;
  padding: 30px;
  text-align: center;
}



/* ................................footer start here.........................  */










/* ..........................................media query here .......................................... */

 

 @media only screen and (max-width: 992px) {
   /* explor chanel section  */
    .container-content{
        grid-template-columns: repeat(4 , 1fr);
    }

    /* todayHeadline section here  */

    .display-content{
      grid-template-columns: repeat(2 , 1fr);
    }

    .featured-display{
      grid-template-columns: repeat(2 , 1fr);
    }
 }
 

 


 @media only screen and (max-width: 725px) {
    /* explor chanel section  */
  .container-content{
    grid-template-columns: repeat(3 , 1fr);
  }

   /* todayHeadline section here  */
   .display-content{
    grid-template-columns: repeat(1 , 1fr);
    padding-left: 50px;
  }

  .featured-display{
    grid-template-columns: repeat(1 , 1fr);
   padding-left: 25px;
  }
}




@media only screen and (max-width: 540px){
      /* explor chanel section  */
  .container-content{
    grid-template-columns: repeat(2 , 1fr);
    
  }

   /* todayHeadline section here  */
  .display-content{
      padding-left: 20px;
  }
}



@media only screen and (max-width: 400px){
          /* explor chanel section  */
  .container-content{
    grid-template-columns: repeat(1 , 1fr);
    margin-left: 90px;
  }
 
  .container h2{
    margin-left: 0px;
  }

  .headline-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

















